# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Run in Nuke'
      'command': 'nuke:run'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'nuke'
      'submenu': [
        { 'label': 'Run', 'command': 'nuke:run' }
      ]
    ]
  }
]
